 @using QuickReading.Models.Models.Games.FindLetter
@model FindLetterModel

<form action="@Url.Action("EndFindLetterGame","Games")" method="post">
    <h2>Letter: <span id="searchLetter">@Model.Letter</span></h2>
    <h3>To find: <span id="countLetters">@Model.CountSearchLetter</span></h3>
    <h4>
        Time: <span id="minutes"></span>:<span id="seconds"></span>
    </h4>

    <br />
    <div class="div-table">
        @for (int i = 0; i < Model.ArraySize; i++)
        {
            <div class="div-table-row">
                @for (int j = 0; j < Model.ArraySize; j++)
                {
                    <div class="div-table-col">@Model.ArrayLetter[i, j]</div>
                }
            </div>
        }
    </div>


    <input type="hidden" id="minutespost" name="minutes" />
    <input type="hidden" id="secondspost" name="seconds" />
    <input type="hidden" id="numberLetterpost" name="numberLetters" value="@Model.CountSearchLetter" />
    <input type="hidden" id="arraySize" name="arraySize" value="@Model.ArraySize" />
    <div class="endGame">
        <button type="submit" class="btn btn-primary">Zakończ</button>
    </div>
</form>

@section Scripts {
    <script>
        var searchLetter = document.querySelector('#searchLetter').innerHTML;
        var countLettersDiv = document.querySelector('#countLetters');

        document.querySelectorAll('.div-table-col')
            .forEach(e => e.addEventListener("click", function () {
                console.log("click");
                if (searchLetter == e.innerHTML) {
                    e.style.background = "green";
                    countLettersDiv.innerHTML = countLettersDiv.innerHTML - 1;

                    if (countLettersDiv.innerHTML == 0) {
                        clearInterval(timer);

                        document.querySelector('.endGame').style.display = 'block';
                        $('input[name="minutes"]').val($("#minutes").html());
                        $('input[name="seconds"]').val($("#seconds").html());
                    }
                }
                else {
                    e.style.background = "red";
                }
            }
            ))

        var sec = 0;
        function pad(val) { return val > 9 ? val : "0" + val; }
        var timer = setInterval(function () {
            $("#seconds").html(pad(++sec % 60));
            $("#minutes").html(pad(parseInt(sec / 60, 10)));
        }, 1000);
    </script>
}